.todo-list {
    border-top: 1px solid #B2D4CD;
    border-bottom: 1px solid #B2D4CD;
    display: flex;
    padding: 1rem;

    input{
        flex: 1;
        font-size: 1.1rem;
        outline: none;
        border: none;
        background: transparent;
        border-bottom: 1px solid #BCAC9A;
        &:focus {
            border-bottom: 1px solid #BCAC9A;
        }
    }
    .add-button {
        text-align: center;
        width: 5rem;
        height: 2rem;
        margin-left: 1rem;
        border: 1px solid #BCAC9A;
        color: #BCAC9A;
        font-size: 1.1rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background: #BCAC9A;
            color: white;
        }
    }
}

.todo-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    .tick {
        margin-right: 1rem;
    }
    .text {
        flex: 1;
        word-break: break-all;
        &.done {
            text-decoration: line-through;
        }
    }
    .delete {
        margin-left: 1rem;
        color: #BCAC9A;
        font-size: 0.9rem;
        &:hover {
            color: #BCAC9A;
            text-decoration: underline;
        }
    }
    &:nth-child(odd) {
        background: #FDFEE9;
    }
    &:hover {
        background: #B2D4CD;
    }
}

.todo-item + .todo-item {
    border-top: 1px solid #BCAC9A;
}